/* Variables */
:root {
    /* Colors */
    --primary-color: #3161E0;
    --secondary-color: #8EA1E1;
    --dark-gray-color: #23272A;
    --light-gray-color: #F6F6F6;
    --footer-bg-color: #23272A;     
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Typography */
.paragraph {
    line-height: 1.6;
    margin-bottom: 1em;
}

.main-title {
    font-size: 2.4rem;
    margin-bottom: .5em;    
}

.secondary-title {
    font-size: 1.8rem;
    margin-bottom: .5em;
}

.stars {
    width: 50%;
    margin: 0.5em auto;
    padding: 30px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Layout */
.container {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    /* background-color: lightgoldenrodyellow;
    min-height: 40px; */
}

/* Buttons */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    padding: .5em 1em;   
    border-radius: 20px; 
}

.btn-light {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: var(--dark-gray-color);
    color: white;
}

.btn-violet {
    background-color: var(--secondary-color);
    color: white;
}

.btn-small {
    font-size: .8rem;
}

.buttons-group .btn {
    margin: 0 .3rem .3rem;
}

/* Waves */
.wave {
    display: block;
    /* filter: opacity(.04); */
    opacity: .04;
}

.wave-revers {
    transform: rotate(180deg);
}

/* Utilities */
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.bg-gray {
    background-color: var(--light-gray-color);
}

/* HEADER */
/* Header top */
.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
}

.logo,
.actions {
    width: 15%;
}

.header-navigation {
    flex-grow: 1;
}

.header-navigation ul {
    text-align: center;
    list-style-type: none;
}

.header-navigation li {
    display: inline-block;
    margin: 0 .5rem;
}

.header-navigation a {
    color: inherit;
    text-decoration: none;
}

.actions {
    text-align: right;
}

/* Jumbotron */
.jumbotron {
    padding: 80px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.content {
    width: 50%;
    margin: 0 auto;
}

/* MAIN */
main section {
    padding: 20px 0;
}

.large-col {
    width: 60%;
    padding: 1rem;
}

.small-col {
    width: 40%;
    padding: 1rem;
}

.large-section {
    text-align: center;
    padding: 30px 0 60px;
}

/* FOOTER */

/* Footer top */
footer {
    background-color: var(--footer-bg-color);
    color: white;
}

.footer-top {
    padding: 40px 0 20px;
}

.main-column {
    width: 30%;
}

.menu-column {
    width: 70%;
}

.menu {
    width: calc(100% / 4);
}

.footer-title {
    font-size: 1.6rem;
    color: var(--secondary-color);
    margin-bottom: 1em;
}

.language {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.language > * {
    margin-right: 10px;
}

.language .flag {
    width: 25px;
}

.social {
    list-style-type: none;
    display: flex;
    font-size: 1.5rem;
}

.social li {
    margin-right: 10px;
}

.social a {
    color: inherit;
}

.menu ul {
    list-style-type: none;
}

.menu-title {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: .6em;
}

.menu li {
    margin-bottom: 1em;
}

.menu a {
    color: inherit;
    text-decoration: none;
}

/* Footer bottom */
.footer-bottom {
    padding: 10px 0;
}

/* debug */
.footer-bottom .container .flex {
    min-height: 40px;
}

